---
layout: base
---

{% assign strings = site.data.strings %}

<article class="page" role="article">
  <header>
    <h1 class="page-title">{{ page.title | default:strings.home | default:"Home" }}</h1>
    {% include components/message.html text=page.description hide=page.hide_description %}
  </header>

  {{ content }}

  <hr class="dingbat related"/>

  {% if site.posts.size > 0 %}
    <h2 class="hr-bottom">{{ strings.posts | default:"Posts" }}</h2>
    <ul class="related-posts">
      {% for post in site.posts limit:5 %}
        {% include_cached components/post-list-item.html post=post %}
      {% endfor %}
    </ul>
  {% endif %}

  {% assign pages = site.html_pages | where:"layout","page" | where_exp:"page","page.sitemap != false" %}
  {% if pages.size > 0 %}
    <h2 class="hr-bottom">{{ strings.pages | default:"Pages" }}</h2>
    <ul class="related-posts">
      {% for page in pages limit:5 %}
        {% if page.layout == 'page' %}
          <li class="h4">
            <a href="{{ page.url | relative_url }}" class="flip-title">
              <span>{{ page.title }}</span>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
</article>


<!---<!doctype html>
<html lang="en" class="h-100">
  <head prefix="og: http://ogp.me/ns#">
    {% include head/head.html %}
  </head>
  <body class="d-flex flex-column h-100">
    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>
    {% include collection-banner.html %}
    {% include collection-nav.html %}
    <main id="maincontent" role="main" class="flex-shrink-0">
    {{ content }}
    </main>
    {% include footer.html %}
    {% include foot.html %}
    {% include scroll-to-top.html %}
  </body>
</html>
