---
layout: compress
---

{% assign plugins = site.plugins | default:site.gems %}

{% assign image       = page.accent_image | default:site.accent_image | default:'/assets/img/sidebar-bg.jpg' %}
{% assign color       = page.accent_color | default:site.accent_color | default:'rgb(79,177,186)' %}
{% assign theme_color = page.theme_color  | default:site.theme_color  | default:'rgb(8,46,57)' %}

  <head prefix="og: http://ogp.me/ns#">
    {% include head/index.html %}
    {% include head/head.html %}
  </head>
  <body class="d-flex flex-column h-100">
    {% include body/index.html %}
    {% include collection-nav.html %}
    <main id="maincontent" role="main" class="flex-shrink-0">  
    {{ content }}
    </main>
    {% include foot.html %}
    {% include scroll-to-top.html %}
  </body>
</html>
